config SIM_DETECT
	tristate "SIM_DETECT driver support"
	default n
	help
	  Say Y here
	  if you want to support SIM_DETECT as detection device.
	  This driver can be used for sending notifications via
	  switch_class when sim card is inserted or removed.